[user]
	email = kkcocogogo@gmail.com
	name = timfeirg
	signingkey = CAF17CF390660A7D
[push]
	default = current
[url "git@gitlab.ricebook.net:"]
	insteadOf = https://gitlab.ricebook.net/
[http "https://gopkg.in"]
	followRedirects = true
[http]
	followRedirects = true
[https]
	followRedirects = true
